.ts-container {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 3px 13px 1px rgb(0, 0, 0 / 9%);
}

.ts-img {
    height: 100%;
    width: auto;
}

.ts-text-container {
    text-align: center;
    padding: 40px;
    font-family: lato, sans-serif;
    font-size: 400;
    line-height: 1.5rem;
}

.ts-name {
    font-size: 1.3rem;
}

.ts-position {
    font-size: 1.3rem;
    margin: 15px;
    padding-bottom: 30px;
}

.ts-text {
    font-size: 1.1rem;
    text-align: justify;
}